* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
}

.App {
  color: white;
  height: 100vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.character__link {
  justify-content: center;
}