.input {
    height: 50px;
    width: 300px;
    border: 3px solid #13b0c9;
    border-radius: 5px;
    background-color: black;
    color: white;

    font-size: 20px;

    &-container {
        margin: 50px;
    }
}